@use "../base/colors.module";
@use "../layout/sidebar.module" as s;
@use "../base/mixins" as m;

$transition-time: 0.5s;

// RESPONSIVE WIDTH OF PAGE CONTENTS
@mixin widthSpecs {
  margin: 0 2rem;
  max-width: 90%;
  @include m.sm {
    margin-left: auto;
    margin-right: auto;
    width: 520px;
  }
  @include m.md {
    width: 680px;
  }
  @include m.lg {
    width: 840px;
  }
  @include m.xl {
    width: 1000px;
  }
  transition: all 0.25s ease-in-out;
}

%collapsibleLayout {
  height: 100%;
  width: 100%;
  position: fixed;
  transition: transform $transition-time ease-out;
}

// CONTAINS EVERYTHING EXCEPT SIDEBAR
.mainContainer {
  background: colors.$gray-w;
  height: 100%;
}

// CONTAINER FOR ALL CONTENTS OF PAGE
.childrenContainer {
  @include widthSpecs();
  height: 100%;
  background: palevioletred;
}

.withSidebar .mainContainer {
  filter: brightness(50%);
  * {
    // prevents content on page from being interacted with while accessing menu
    pointer-events: none;
  }
}

.withSidebar {
  @extend %collapsibleLayout;
  transform: translateX(0 - s.$sidebar-xs);
  @include m.sm {
    transform: translateX(0 - s.$sidebar-sm);
  }
  @include m.md {
    transform: translateX(0 - s.$sidebar-md);
  }
  @include m.lg {
    transform: translateX(0 - s.$sidebar-lg);
  }
  @include m.xl {
    transform: translateX(0 - s.$sidebar-xl);
  }
}

.withoutSidebar {
  @extend %collapsibleLayout;
  transform: translateX(0);
}
