@use "./colors.module";

/* HOVER STYLES */

$transition-duration: 0.25s;
$rotate-amount: 0.125turn;
$scale-amount: 1.15;
$rise-amount: 0.25rem;

@mixin hover($style) {
  // only apply hover styles for systems with cursor, not touch screens
  @media (hover: hover) {
    transition: $transition-duration all ease-in-out;
    @if ($style == "rotate") {
      transform: rotate(0);
      &:hover {
        transform: rotate($rotate-amount);
      }
    }
    @if ($style == "scale") {
      transform: scale(1);
      &:hover {
        transform: scale($scale-amount);
      }
    }
    @if ($style == "rise") {
      transform: translateY(0);
      &:hover {
        transform: translateY(-$rise-amount);
      }
    }
    &:hover {
      opacity: 60%;
    }
  }
}

// $glow-radius: 0.125rem;

// @mixin glow($color) {
//   :hover {
//     filter: drop-shadow(0 0 $glow-radius $color);
//   }
// }
