@use "../base/colors.module";
$iconSize: 24px;

.socialsContainer {
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.socialsIcon {
  display: inline-block;
  padding: 0.5 * $iconSize;
  border-radius: 50%;
  &:hover {
    background-color: colors.$gray-5;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
