@use "../base/colors.module";

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25%;
}

.notFoundMessage {
  margin-top: 1rem;
}

.homeButton {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: colors.$gray-5;
}
